
@{
    ViewData["Title"] = "Index";
}
<div class="m-5">
    <span>You Want to Add New Instructor? </span>
    <a href="/instructor/Add" class="btn btn-outline-primary">Add</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Age</th>
            <th scope="col">Salary</th>
            <th scope="col">Details</th>
            <th scope="col">Edit</th>

        </tr>
    </thead>
    <tbody>
        @foreach (Instructor instructor in Model)
        {
            <tr>
                <th scope="row">@instructor.Id</th>
                <td>@instructor.FName</td>
                <td>@instructor.Age</td>
                <td>@instructor.Salary</td>
                <td><a href="/instructor/details/@instructor.Id" class="btn btn-primary">Details</a></td>
                <td><a href="/instructor/Edit/@instructor.Id" class="btn btn-outline-primary">Edit</a></td>
            </tr>
        }

    </tbody>
</table>

