@model Department

<style>
    .form-container {
        max-width: 500px;
        margin: 50px auto;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    .form-title {
        text-align: center;
        margin-bottom: 20px;
    }
</style>
<div class="container">
    <div class="form-container">
        <h2 class="form-title">@(ViewBag.Edit?"Edit":"Add New") Department</h2>
        <form asp-action="@(ViewBag.Edit?"Edit":"Add")">
            <div asp-validation-summary="ModelOnly" style="color:red"></div>
            @if (ViewBag.Edit)
            {
                <input asp-for="Id" hidden/>
            } 
            <div class="mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" style="color:red"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" style="color:red"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Location" class="form-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" style="color:red"></span>
            </div>
            <div class="mb-3 text-center">
                <input type="submit" value="@(ViewBag.Edit?"Edit":"Create")" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
